
.App {
  padding: 24px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 400px;
}

.btn {
  background-color: #FF4D4F;
  border-radius: 8px;
  /* width: 654px; */
  height: 38px;
  border: 0;
  color: #fff;
}


